body { 
    min-width: 320px; 
    overflow-x: hidden; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
}
input{ 
    width: 320px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5%;
}
label{
	margin-bottom: 10px;
	font-size: 18px;
}
#Idpage{
	display: none;
}
button{
	float: right;
	background-color: #21759B;
	background-image: linear-gradient(to bottom, #2A95C5, #21759B);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
	border-color: #21759B #21759B #1E6A8D;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	padding: 4px 15px 7px 15px;
	margin: 2px 4px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 10px;

}
button::-moz-focus-inner{
  padding: 0;
  border: 0;
}
input #save{ 
    font-weight: bold; width: auto; 
    margin-top: 50px;
}
#b64{
	display: none;
}
img{
	width: 100px;
}