*{
	padding: 0px;
	margin-top: 0px;
}
body{
	background-image: url("/images/background1.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 660px;
}
#main{
	width: 100%;
	height: 660px;
}

#header{
	width: 100%;
	height: auto;
	float: left;
    text-align: center;
    font-size: 60px;
    font-family: Andalus;
    margin-top: 50px;
}
#content{
	width: auto;
	height: auto;
	float: left;
	margin-top: 30px;
	margin-left: 100px;
}

.form-group img{
	width: 200px;
	height: auto;
	margin-top: 20px;
	margin-left: 50px;
}
#Idpage{
	display: none;
}

#page1{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
#page2{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page3{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page4{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page5{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page6{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page7{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page8{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page9{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page10{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
#page1 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page2 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page3 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page4 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page5 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page6 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page7 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page8 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page9 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page10 img{
	width: 200px;
	height: 140px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
	
}
#page1 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
	
}
#page2 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page3 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page4 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page5 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page6 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page7 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
}
#page8 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page9 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}
#page10 #title{
	float: left;
	width: 200px;
	height: auto;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-family: Andalus;
	font-weight: bold;
}

#add-button{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	padding-top: 50px;
	padding-left: 40px;
}
